{% extends 'forum/base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block subcontent %}
{% if blog.author_id == request.user.id %}
<h2>
    &quot;{{ blog.title }}&quot; </h2>
<p>created at {{ blog.created_at.date.isoformat }}</p>

<form method="POST">
    {% csrf_token %}
    <table>{{ form }}</table>
    <input type="submit" value="Create post"/>
</form>
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
{% endif %}
<ul>
    {% for post in posts %}
    <li><i>{{ post.created_at }}</i><b>{{ post.subject }}</b><br/>
        <p>{{ post.text }}
        </p>
        {% if post.review_image %}
        <img src="{{MEDIA_URL}}{{post.review_image.url}}" height="150" width="200"/>
        {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}