{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<section class="about-card">
	<div class="container">
		<div class="main-info">
			<h2>О Карте Гостя Санкт-Петербурга</h2>
			<h3>Что включено в карту</h3>
			<p>Карта Гостя Санкт-Петербурга – это единая электронная карта для туристов, которая включает в себя посещение лучших музеев и экскурсий, электронный транспортный билет, выгодные предложения и скидки.
			</p>
			<a href="image.html" target="_blank"><img src="{% static 'forum/spb-card1.png' %}" class="img1"></a>
			<h3>Сколько времени действует карта</h3>
			<p>Выбирайте, сколько дней Вы хотите пользоваться всеми предложениями по карте:<br>
				Карта Гостя 2 дня  (48 часов)<br>
				Карта Гостя 3 дня  (72 часа)<br>
				Карта Гостя 5 дней  (120 часов)<br>
				Карта Гостя 7 дней  (168 часов)<br>
			</p>
			<p>Карта Гостя начинает действовать с момента активации, т.е. с момента первого посещения музея или экскурсии. Предложениями по скидкам в составе Карты Гостя можно воспользоваться до конца текущего года, в котором приобретена Карта.
			</p>
			<h3>Экономия средств</h3>
			<p>Карта Гостя помогает организовать самостоятельное путешествие для туриста, желающего увидеть все многообразие и великолепие Северной столицы. При активном посещении музеев и экскурсий она позволит сэкономить от 30% и более затрат на поездку.
			</p>
			<h3>Путеводитель по городу</h3>
			<p>В комплект Карты Гостя входит путеводитель, в нем вы найдете описания топовых и менее известных достопримечательностей. В путеводителе также есть информация о скидках, действующих при предъявлении Карты Гостя и другая полезная информация. Скачать путеводитель можно на главной странице сайта.
			</p>
			<a href="{% static 'forum/about-card2.png' %}" target="_blank">
				<img src="{% static 'forum/about-card2.png' %}" class="img2">
			</a>
			<p>В путеводителе указаны адреса и графики работы достопримечательностей с приложением карты исторического центра города, что поможет спланировать наиболее удобный маршрут и провести время с максимальной пользой. Издается на 2-х языках (русский/ английский) и содержит отрывные купоны, которые извлекаются при посещении музеев и экскурсий.
			</p>
			<h3>Транспортный билет</h3>
			<p>Карту Гостя можно использовать в качестве электронного транспортного билета для оплаты проезда в метрополитене и на городских автобусных, трамвайных, троллейбусных маршрутах. Для начала пользования нужно пополнить баланс Карты в кассах и электронных терминалах на любой станции метро. Срок действия транспортного билета в составе Карты Гостя — 3 года с момента последнего пополнения баланса. Для оплаты проезда карту можно использовать и до, и после ее активации в музеях.
			</p>
			<h3>Правила использования</h3>
			<p>Перед активацией Карты Гостя заполните дату начала и окончания ее использования на оборотной стороне. При посещении музея или экскурсии необходимо предъявить в кассу Карту Гостя вместе с путеводителем и получить билет на проход. Подробнее
			</p>
		</div>
		<div class="right-coloumn">
			<div class="coloumn-1">
				<ul>
					<li>Топ-10 бесплатно с Картой Гостя</li>
					<li>Петропавловская крепость</li>
					<li>Исаакиевский собор</li>
					<li>Спас на крови</li>
					<li>Эрмитаж России (Восточное крыло Главного Штаба)</li>
					<li>Автобусная экскурсия с остановками "Сити Тур"</li>
					<li>Петергоф</li>
					<li>Царское Село</li>
					<li>Русский музей</li>
					<li>Инженерный замок</li>
					<li>Музей-макет "Петровская Акватория"</li>
				</ul>
			</div>
			<div class="coloumn-2">
				<ol>
					<li>Карта Гостя Санкт-Петербурга:</li>
					<li>
						Проход в 70 лучших музеев
					</li>
					<li>
						Более 10 различных экскурсий
					</li>
					<li>
						Электронный транспортный билет
					</li>
					<li>
						Специальные предложения и скидки
					</li>
					<li>
						Путеводитель по городу
					</li>
					<li>
						Доставка в отель
					</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<div class="arrow">
	<a href="#top"><img src="{% static 'forum/arrow.png' %}"></a>
</div>

{% endblock %}
