{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<section class="econ-menu">
    <div class="container">
        <ul class="econ-menu-top">
            <li><a href="#economy">Экономия с Картой Гостя за 2 дня</a></li>
            <li><a href="#top-10">Топ-10</a></li>
            <li><a href="#special">Специальные предложения</a></li>
        </ul>
    </div>
</section>
<section class="economy">
    <div class="container">
        <h2 id="economy">Экономия с Картой Гостя. Примерный маршрут</h2>
        <a href="{% static 'forum/economy-1.png' %}" target="_blank">
            <img src="{% static 'forum/economy-1.png' %}" title="Вид на Исаакиевский собор">
        </a>
        <p>В Санкт-Петербурге бесчисленное количество достопримечательностей и возможностей для культурного досуга - в этот город можно возвращаться снова и снова за новыми открытиями и впечатлениями.
        </p>
        <p>Предложенный ниже маршрут - всего лишь один из вариантов организации путешествия с Картой Гостя; выбор музеев и экскурсий остается за вами, время их посещения вы планируете самостоятельно.
        </p>
        <p>Экономия с Картой Гостя может существенно различаться в зависимости от индивидуального маршрута. Количество музеев и экскурсий в течение срока действия Карты не ограничено. Обратите внимание на то, что срок действия Карты измеряется в часах (48, 72, 120 и 168 соответственно), поэтому приведенная здесь разбивка музеев и экскурсий по дням является приблизительной.
        </p>
        <table class="econ-table">
            <caption>Экономия:</caption>
            <tr>
                <th>Достопримечательности</th>
                <th>Обычная цена*</th>
                <th><img src="{% static 'forum/economy-2.png' %}"></th>
            </tr>
            <tr>
                <td colspan="3" class="bold">День 1</td>
            </tr>
            <tr>
                <td><a href="http://www.cathedral.ru" target="_blank">Исаакиевский собор с посещением колоннады</a></td>
                <td>550 р.</td>
                <td>включено</td>
            </tr>
            <tr>
                <td><a href="http://www.spas-na-krovi.ru" target="_blank">Спас на крови</a></td>
                <td>350 р.</td>
                <td>включено</td>
            </tr>
            <tr>
                <td><a href="https://www.boattrip.ru/excursion/City_Sightseeing/" target="_blank">Обзорная автобусная экскурсия City Sightseeing</a></td>
                <td>1200 р.</td>
                <td>включено</td>
            </tr>
            <tr>
                <td><a href="https://nevareka.ru/vse-vodnye-ekskursii/dnevnaya-ekskursiya-na-korable-purga/" target="_blank">Ночная экскурсия по рекам и каналам</a></td>
                <td>900 р.</td>
                <td>включено</td>
            </tr>
            <tr>
                <td colspan="3" class="bold">День 2</td>
            </tr>
            <tr>
                <td><a href="https://petropavlovskaya.org/?yclid=2683112273537436324" target="_blank">Петропавловская крепость (Собор и тюрьма Трубецкого бастиона)</a></td>
                <td>800 р.</td>
                <td>включено</td>
            </tr>
            <tr>
                <td><a href="http://peteraqua.ru" target="_blank">Музей "Петровская Акватория"</a></td>
                <td>450 р.</td>
                <td>включено</td>
            </tr>
            <tr>
                <td><a href="https://www.astra-marine.ru/city-sightseeing-neva" target="_blank">City Sightseeing Neva (водный маршрут с остановками)</a></td>
                <td>1200 р.</td>
                <td>включено</td>
            </tr>
            <tr class="last-row">
                <td>Итого за 2 дня</td>
                <td>5450 р.</td>
                <td>3990 р.</td>
            </tr>
        </table>
    </div>
</section>
<section class="top-10">
    <div class="container">
        <h2 id="top-10">Топ 10</h2>
        <p class="under-h2">обязательно к посещению для знакомства с Санкт-Петербургом
        </p>
        <p>Самые знаковые памятники истории, архитектуры и искусства, без которых нельзя представить себе Санкт-Петербург. Впечатляющие и познавательные экскурсии на автобусе и по рекам и каналам. 
        </p>
        <ol>
            <li>Петергоф</li>
            <li>поездка на метеоре в Петергоф (из центра Петербурга по рекам и акватории Финского залива)</li>
            <li> Исаакиевский собор (включая билет на колоннаду)</li>
            <li>Спас на крови</li>
            <li>Эрмитаж (Главный штаб - коллекция искусства XIX-XX вв.)</li>
            <li>Петропавловская крепость (Петропавловский собор и тюрьма Трубецкого бастиона)</li>
            <li>обзорная автобусная экскурсия (с остановками, билет на целый день)</li>
            <li>экскурсии по рекам и каналам (дневные, с остановками и билетом на целый день, ночные)</li>
            <li>Царское Село (Пушкин)</li>
            <li>Русский музей</li>
        </ol>
        <p>С ноября по апрель ввиду погодных условий экскурсии по рекам и каналам не проводятся, поэтому можно уделить больше внимания музеям. Вот что выбирают туристы с Картой Гостя:
        </p>
        <ul>
            <li>Инженерный замок
                <ul>
                    <li>Посещение</li>
                    <li>Комментарии вашего экскурсовода</li>
                    <li>Рассказы инжинеров</li>
                </ul>

            </li>
            <li>Музей-макет «Петровская акватория»</li>
        </ul>
        <p>Всё это можно посетить с классической Картой Гостя на 2, 3, 5 или 7 дня. Топ-10 составлен по предпочтениям покупателей «Карты Гостя Санкт-Петербурга». Посмотрите полный список музеев и составьте свой.
        </p>
    </div>
</section>
<section class="special">
    <div class="container">
        <h2 id="special">St.Petersburg Card рекомендует!</h2>
        <div class="museum-1">
            <div class="museum">
                <img src="{% static 'forum/museum-1.jpg' %}">
                <h3>Музей «Дворцовая телеграфная станция»</h3>
                <p>музей с воссозданной обстановкой телеграфной станции</p>
                <p class="spec-cost">Специальная цена: 100 рублей</p>
            </div>
            <div class="museum">
                <img src="{% static 'forum/museum-2.jpg' %}">
                <h3>Парк Александрия</h3>
                <p>резиденция четырёх поколений династии Романовых</p>
                <p class="spec-cost">Специальная цена: 100 рублей</p>
            </div>
            <div class="museum">
                <img src="{% static 'forum/museum-3.jpg' %}">
                <h3>Музей Фаберже</h3>
                <p>крупнейшая в мире коллекция произведений Карла Фаберже</p>
                <p class="spec-cost">Скидка 25% на входной билет с Картой Гостя</p>
            </div>
        </div>
        <div class="museum-1">
            <div class="museum">
                <img src="{% static 'forum/museum-4.jpg' %}">
                <h3>Дворец Петра I в Стрельне</h3>
                <p>загородная усадьба Петра I</p>
                <p class="spec-cost">Специальная цена 150 рублей</p>
            </div>
            <div class="museum">
                <img src="{% static 'forum/museum-5.jpg' %}">
                <h3>Республика кошек</h3>
                <p>оригинальное арт-пространство и кафе, где проживают пушистые обитатели</p>
                <p class="spec-cost">Скидка 100 р. на входной билет с Картой Гостя</p>
            </div>
            <div class="museum">
                <img src="{% static 'forum/museum-6.jpg' %}">
                <h3>Русские Музыкальные Сезоны</h3>
                <p>Торжественный прием в уникальном дворце династии Романовых.</p>
                <p class="spec-cost">cкидка 10% с Картой Гостя</p>
            </div>
        </div>
    </div>
</section>

<div class="arrow">
    <a href="#top"><img src="{% static 'forum/arrow.png' %}"></a>
</div>
{% endblock %}
  