{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<section class="rules">
    <div class="container">
        <div class="main-info">
            <h2>Правила пользования картой</h2>
            <h3>Как работает Карта Гостя</h3>
            <p>Приобретая комплект «Карта Гостя Санкт-Петербурга», вы получаете пластиковую смарт-карту и путеводитель с отрывными купонами. В течение срока действия Карты Гостя вы можете однократно посетить неограниченное число музеев и экскурсий, включенных в ее состав.
            </p>
            <p>Карта действует с момента активации в течение 48, 72, 120 или 168 часов. Скидками и специальными предложениями можно воспользоваться и после окончания срока действия Карты Гостя.
            </p>
            <p>Карта также является транспортным билетом, который пополняется в кассах или терминалах метрополитена и используется для оплаты проезда на городском транспорте. В соответствии с правилами, установленными Комитетом по транспорту г. Санкт-Петербурга, данные средства не могут быть возвращены наличными деньгами в случае неиспользования. Транспортный билет в составе Карты Гостя будет действителен в течение 3 лет с момента последнего пополнения.
            </p>
            <h3>Активация Карты Гостя</h3>
            <p>Датой активации считается момент первого посещения музея или экскурсии. Чтобы активировать Карту Гостя, впишите на оборотной стороне дату и время вашего первого визита. Использование транспортного билета на активацию Карты Гостя не влияет.
            </p>
            <a href="{% static 'forum/rules-1.png' %}" target="_blank">
                <img src="{% static 'forum/rules-1.png' %}" class="rule-1">
            </a>
            <h3>Как пройти в музей или на экскурсию по Карте Гостя</h3>
            <p>Карта Гостя обеспечивает легкость и удобство безналичного расчета при посещении достопримечательностей. <strong>Предъявите в кассу Карту Гостя вместе с путеводителем</strong> и получите бесплатный билет на проход. Кассир проверяет срок действия Карты, извлекает купон посещаемой достопримечательности и выдает билет. Для прохода на экспозицию в тех музеях, где установлены турникеты, с полученного билета сканируется штрих-код. На экскурсиях и в тех музеях, где турникеты отсутствуют, билет предъявляется контролёру.
            </p>
            <img src="{% static 'forum/rules-2.png' %}">
            <p>Обслуживание производится на общих условиях, за исключением некоторых музеев, где для посетителей с Картой Гостя предусмотрены специальные кассы (Петропавловская крепость, Нижний парк в Петергофе).
            </p>
            <h3>Если вы путешествуете с детьми</h3>
            <p>Карта Гостя предназначена для взрослых туристов в связи с тем, что для льготных категорий (дошкольники, учащиеся, пенсионеры) и так предоставляются особые условия посещения в музеях и на экскурсиях. Вместе с тем, эти условия могут различаться в соответствии с индивидуальной ценовой политикой каждого из партнеров. Поэтому экономия с Картой Гостя для ребенка может определяться только исходя из вашего индивидуального маршрута. В любом случае, приобрести льготный билет для ребенка вы сможете в той же кассе, где производится обслуживание по Карте Гостя (исключением являются специальные кассы).
            </p>
        </div>
        <div class="right-coloumn">
            <div class="coloumn-1">
                <ul>
                    <li>Топ-10 бесплатно с Картой Гостя</li>
                    <li>Петропавловская крепость</li>
                    <li>Исаакиевский собор</li>
                    <li>Спас на крови</li>
                    <li>Эрмитаж России (Восточное крыло Главного Штаба)</li>
                    <li>Автобусная экскурсия с остановками "Сити Тур"</li>
                    <li>Петергоф</li>
                    <li>Царское Село</li>
                    <li>Русский музей</li>
                    <li>Инженерный замок</li>
                    <li>Музей-макет "Петровская Акватория"</li>
                </ul>
            </div>
            <div class="coloumn-2">
                <ol>
                    <li>Карта Гостя Санкт-Петербурга:</li>
                    <li>
                        Проход в 70 лучших музеев
                    </li>
                    <li>
                        Более 10 различных экскурсий
                    </li>
                    <li>
                        Электронный транспортный билет
                    </li>
                    <li>
                        Специальные предложения и скидки
                    </li>
                    <li>
                        Путеводитель по городу
                    </li>
                    <li>
                        Доставка в отель
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="arrow">
        <a href="#top"><img src="{% static 'forum/arrow.png' %}"></a>
</div>

{% endblock %}
